body {
	background-image: url("img/panodefundo.png");	
}

#main {
	width: 1000px;
	height: 100%;
	margin: auto;
	background-color: black;
	font-family: 'Chilanka';
	margin-top: -10px;
}

.nav1 {
	width: 1900px;
	margin-left: -280px;
}

header {
	background-color: black;
	padding-left: 500px;
	height: 70px;
	width: 1900px;
	border: 1px solid white;
	margin-top: 0px;
}

header nav {
	border: 1px;
	border-color: white;
	vertical-align: middle;
	padding-top: 2px;
}

header nav ul {
	vertical-align: middle;
	margin-left: -150px;
}

header nav ul li {
	list-style: none;
	padding-left: 15px;
	display: inline-block;
	font-size: 20px;
	color: white;
	vertical-align: middle;
}

header nav ul li img {
	list-style: none;
	padding-left: 0px;
	padding-right: 40px;
	display: inline-block;
	height: 30px;
	width: 30px;
	margin-left: -390px;
}

.sections {
	margin: auto;
	width: 800px;
	height: 700px;
	color: white;
	background-color: none;
	text-align: center;
}

.sections img{
	height: 450px;
	width: 450px;
	padding-left: 35px;
	padding-top: 40px;
}

.quemsomos {
	height: 400px;
	width: 950px;
	margin-left: 25px;
	color: white;
	border: 1px solid white;
}

.qstxt {
	float: left;
	text-align: justify;
	margin-top: -20px;
	padding-top: 0px;
	width: 450px;
	height: 250px;
	font-size: 21px;
}

.qsimg {
	font-size: 30px;
	margin-left: 70px;
}

.qsimg img{
	margin-left: -15px;
	width: 300px;
	height: 250px;
	float: left;
	padding-right: 30px
}

.nossahistoria {
	height: 400px;
	width: 950px;
	margin-top: 30px;
	margin-left: 25px;
	color: white;
	border: 1px solid white;
}

.nhtxt {
	float: left;
	text-align: justify;
	margin-top: -20px;
	padding-top: 0px;
	width: 450px;
	height: 250px;
	font-size: 21px;
}

.nhimg {
	font-size: 30px;
	margin-left: 70px;
}

.nhimg img{
	margin-left: -15px;
	width: 300px;
	height: 250px;
	float: left;
	padding-right: 30px
}

.casashogwarts {
	height: 400px;
	width: 950px;
	margin-top: 30px;
	margin-left: 25px;
	color: white;
	border: 1px solid white;
	display: table;
}

.img1 {
	margin-left: 70px;
	width: 250px;
	border: 1px solid white;
}

.tit {
	font-size: 30px;
	margin-left: 70px;	
}

.chimg00 {
	font-size: 30px;
}

.chimg00 img{
	width: 250px;
	height: 300px;
	float: left;
	display: table-cell;
	background-color: #ff6343;
}

.chimg00txt button{
	display: table-row;
	font-size: 21px;
	text-align: center;
	width: 200px;
	margin-top: 20px;
	margin-bottom: 15px;
	margin-left: 25px;
	background-color: black;
	color: white;
}
